<!DOCTYPE html>
<html>
  <head>
    <title><%=funcionarios%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body> 
    
    <h1>funcionarios</h1>

    <div class="col-xs-12">
      <form action="/funcionarios" method="post" role="form">
          <div class="row">
              <div class="col-xs-4">
                  <input type="text" name="cpf" placeholder="cpf" class="form-control"/>
              </div>
              <div class="col-xs-4">
                  <input type="text" name="nome" placeholder="nome" class="form-control"/>
              </div>
              <div class="col-xs-4">
                <input type="text" name="cep" placeholder="cep" class="form-control"/>
            </div>
            <div class="col-xs-4">
              <input type="text" name="email" placeholder="email" class="form-control"/>
          </div>
          <div class="col-xs-4">
            <input type="text" name="telefone" placeholder="telefone" class="form-control"/>
        </div>
        <div class="col-xs-4">
          <input type="text" name="funcao" placeholder="funcao" class="form-control"/>
      </div>
              <div class="col-xs-4">
                  <button type="submit" class="btn btn-default">Incluir</button>
              </div>
          </div>
      </form>
  </div>

    <table class="table table-bordered table-striped">
      <thead><tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>CEP</th>
          <th>EMAIL</th>
          <th>FONE</th>
          <th>FUNCAO</th>
      </tr>
      </thead>
      
      <tbody>
          <% funcionarios.forEach(function(funcionario, index) { %>
            <tr>
              <td><%- funcionario.cpf %></td>
              <td><a href="/funcionario/editar/<%- funcionario._id %>"><%- funcionario.nome %></a></td>
              <td><%- funcionario.cep %></td>
              <td><%- funcionario.email %></td>
              <td><%- funcionario.telefone %></td>
              <td><%- funcionario.funcao %></td> 
              
              <td><a href="/funcionario/deletar/<%- funcionario._id %>"onclick="return confirm('tem certeza que deseja excluir?')">X</a>
              </td>  

            </tr>
          <% }) %>
      </tbody>
      
      
  </table>

  </body>
</html>
